<!-- begin post -->
{% assign author = site.data.authors[post.author] %}
{% include reading_time.html %}

<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ post.url | absolute_url }}">
                {% if post.image %} 

                    {% if site.lazyimages == "enabled" %}
                        <img class="img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ post.image | absolute_url }}{% endif %}" alt="{{ post.title }}"> 
                    {% else %}
                        <img class="img-fluid" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ post.image | absolute_url }}{% endif %}" alt="{{ post.title }}"> 
                    {% endif %}

                {% endif %}
            </a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2 pr-0">
                    <img class="img-fluid rounded-circle" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12">
                            <a class="text-dark dg-post-card-title" href="{{ post.url | absolute_url }}">{{ post.title }}</a>        
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="col-12 mt-1 card-text">{{ post.excerpt | strip_html | truncatewords:10 }}</h4>
                    </div>
                    <div class="row wrapfooter">
                        <span class="col-12 mt-2 post-date">{{ post.date | date_to_string }} – {{ readingTime }} min read</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->