---
layout: base
---

<div class="row justify-content-center">
    <div class="col-6 col-lg-2 col-sm-4 col-md-3 mb-3 mt-3 mb-lg-0 mt-lg-0 align-self-center">
        <img class="rounded-circle img-fluid lazyimg" 
        src="https://www.gravatar.com/avatar/{{ site.data.authors.me.gravatar }}?s=500&d=mm&r=x" alt="">
    </div>
    <div class="col-lg-10">     
        <div class="mainheading">
            <h1 class="sitetitle">{{ site.name }}</h1>
            <p class="lead introduction introduction-margin">
                {{ site.description }}
            </p>
        </div>
    </div>
</div>

<div class="main-content">
	{{ content }}
</div>